<h1>New Intervention</h1>
<%= form_for @intervention, url: interventions_intervention_path(@intervention) do |f| %>
    <h4>Select Customer</h4>
    <%= f.select(:customer_id, Customer.all.collect {|c| [c.company_name, c.id] }, { include_blank: true }, { id: :customer_list }) %>

	<div class="hide_select" id="building_show">
        <h4>Select Building</h4>
		<%= f.select(:building_id,[], { include_blank: true }, { id: :building_list })%>
	</div>

	<div class="hide_select" id="battery_show">
        <h4>Select Battery</h4>
		<%= f.select(:battery_id,[], { include_blank: true }, { id: :battery_list })%>
	</div>

	<div class="hide_select" id="column_show">
        <h4>Select Column</h4>
		<%= f.select(:column_id, [], { include_blank: true }, { id: :column_list })%>
	</div>

	<div class="hide_select" id="elevator_show">
        <h4>Select Elevator</h4>
		<%= f.select(:elevator_id, [], { include_blank: true }, { id: :elevator_list })%>
	</div>

	<div id="employee_show">
        <h4>Select Employee</h4>
		<%= f.select(:employee_id, Employee.all.collect {|e| [e.last_name, e.id]}, { include_blank: true })%>
	</div>

	<div>
        <h4>Description of the intervention</h4>
		<%= f.text_area :report,{:size => "34x5"} %>
	</div>

    <br>
	<div>
		<%= f.submit "Submit", class: "btn btn-primary"%>
	</div>
<% end %>